<h1>Timetable Administration</h1>
<% if (!data.gh.data.me || data.gh.data.me.anon) { %>
    <% if (!data.gh.config.enableLocalAuth || data.gh.config.enableShibbolethAuth) { %>
        <% var _templateId = 'gh-template-' + Math.ceil(Math.random() * 1000) %>
        <div class="pull-right" id="<%- _templateId %>">
            <% _.renderPartial('login-form', {'data': data}, '#' + _templateId) %>
        </div>
    <% } %>
<% } else { %>
    <form id="gh-signout-form" class="form-inline pull-right" role="form" action="/api/auth/logout" method="POST">
        <button type="submit" class="btn btn-default gh-btn-secondary">
            <i class="fa fa-sign-out"></i>Sign out
        </button>
    </form>
<% } %>
