<div id="gh-result-summary">
    <button class="btn btn-default gh-btn-secondary gh-btn-reverse pull-right gh-collapse-modules" title="Toggle the modules list">
        <i class="fa fa-angle-double-left"></i>
        <i class="fa fa-angle-double-right"></i>
    </button>
    <p><%- data.modules.length %> module<% if (data.modules.length === 0 || data.modules.length > 1) { %>s<% } %> in this part</p>
</div>
<div id="gh-modules-list-container">
    <% var _templateId = 'gh-template-' + Math.ceil(Math.random() * 10000000) %>
    <ul id="gh-modules-list" class="list-group <%- _templateId %>">
        <% _.renderPartial('student-module-item', {'data': data.modules}, '#gh-modules-list') %>
    </ul>
</div>
