<div id="gh-administrators-container" class="gh-administration-container">
    <h1>Users</h1>
    <div id="gh-global-users-container">
        <% var randomId = gh.utils.generateRandomString(); %>
        <div id="<%- randomId %>">
            <% _.partial('global-admin-administrators', {'administrators': data.administrators}, null, '#' + randomId) %>
        </div>
    </div>

    <div id="gh-app-users-container">
        <% var randomId = gh.utils.generateRandomString(); %>
        <div id="<%- randomId %>">
            <% _.partial('global-admin-global-users', {'gh': gh, 'tenants': data.tenants}, null, '#' + randomId) %>
        </div>
    </div>
</div>
